// Home Content

.slantedDivA {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #2e3141;
  background-size: auto, cover;
  background-position: center, center;
  box-sizing: border-box;
  padding: 30px;
  .flexProperties(space-between, row, wrap, center);

  div {
    width: 75%;
    margin: auto;
    color: @textColor;
    letter-spacing: 2px;
    z-index: 10;

    @media @mobile {
      width: 100%;
    }

    h2 {
      padding: 25px 0px;
      border-bottom: @borderBottom;
      font-size: 3.5rem;
      font-weight: 600;

      @media @mobile {
        font-size: 2.5rem;
      }
    }

    p {
      padding: 25px 0px;
      font-size: 1.75rem;
      font-weight: 300;
    }
  }
}

.slantedDivA:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-4deg);
}

.slantedDiv {
  position: relative;
  width: 100%;
  height: 450px;
  padding-top: 9rem;
  background-color: #4c5c96;

  @media @tablet {
    height: auto;
  }

  .innerContent-container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    height: 100%;
    z-index: 8;
    .flexProperties(space-between, row, wrap, center);

    @media @tablet {
      .flexProperties(space-between, column, nowrap, center);
    }

    .innerContent {
      width: 70%;
      display: inline-block;
      text-align: right;
      padding-right: 75px;
      color: @textColor;
      z-index: 10;
      letter-spacing: 2px;

      @media @tablet {
        width: 100%;
        order: 2;
      }

      @media @mobile {
        padding: 10px;
      }

      h4 {
        padding: 15px 0px;
        border-bottom: @borderBottom;
      }

      p {
        padding: 15px 0px;
        line-height: 2.25rem;
      }

      .innerContent-links {
        .flexProperties(flex-end, column, nowrap, flex-end);
        font-size: 1.5rem;

        a {
          padding: 15px 0px;
          text-decoration: none;
          color: @textColor;
          text-decoration: underline;
        }
      }
    }

    img {
      width: 30%;
      box-shadow: 2px 2px 10px;
      border-radius: 5px;
      cursor: pointer;
      z-index: 10;
      transition: all 0.3s ease-in-out;

      @media @tablet {
        order: 1;
        width: 50%;
        margin-bottom: 3rem;
      }

      @media @mobile {
        width: 75%;
      }

      &:hover {
        transform: scale(1.025);
        box-shadow: 2px 2px 15px;
      }
    }
  }
}

.slantedDivB:after {
  position: absolute;
  width: 100%;
  height: auto;
  content: "";
  z-index: 7;
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(4deg);
}

.slantedDivC {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #45558d;
  z-index: 6;

  @media @tablet {
    height: auto;
  }

  .innerContent-container {
    .innerContent {
      text-align: left;
      padding-left: 75px;
      padding-right: 0px;

      @media @mobile {
        padding: 10px;
      }

      .innerContent-links {
        align-items: flex-start;
      }
    }
  }
}

.slantedDivC:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 5;
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-4deg);
}

.slantedDivD {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #3f4e85;
  z-index: 4;

  @media @tablet {
    height: auto;
  }
}

.slantedDivD:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 3;
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(4deg);
}

.slantedDivE {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2e3141;
  z-index: 2;

  .innerContent-container {
    padding-top: 100px;
    img {
      width: 300px;
      margin: 3rem auto;
    }

    @media @mobile {
      padding-top: 0px;
    }

    img {
      @media @tablet {
        width: 75%;
      }
    }

    .img-mobile {
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.slantedDivE:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-4deg);
}

.slantedDivF {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #3f4e85;
  z-index: 1;

  .innerContent-container {
    z-index: 10;
    padding: 50px 0px;

    @media @mobile {
      padding-top: 0px;
    }

    .innerContent {
      text-align: left;
      width: 100%;
      padding-right: 0px;

      @media @mobile {
        padding-left: 0px;
      }

      .heading {
        border-bottom: @borderBottom;
        .flexProperties(space-between, row, wrap, center);

        h4 {
          border-bottom: none;
        }

        .fillerDiv {
          @media @mobile {
            display: none;
          }
        }
      }

      .icons {
        .flexProperties(space-around, row, wrap, center);
        .fab {
          margin: 15px 10px;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
          font-size: 5rem;
          box-shadow: none;

          &:hover {
            transform: scale(1.2);
          }
        }

        img {
          width: 5rem;
          margin: 0px;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
          box-shadow: none;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .heading2 {
        margin-top: 50px;

        ul {
          margin: 10px 5px;
          .flexProperties(space-around, row, wrap, center);

          li {
            padding: 5px;
          }
        }
      }
    }
  }
}

.slantedDivF:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 2;
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(4deg);
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #2e3141;
  background-size: auto, cover;
  background-position: center, center;
  margin-top: -10rem;
  z-index: 0;
  padding: 250px 0px 100px;

  .contact-container {
    width: 50%;
    max-width: 600px;
    margin: auto;

    @media @mobile {
      width: 90%;
    }

    .contact-title {
      color: @textColor;
      text-transform: uppercase;

      h4 {
        line-height: 10px;
      }
    }

    form {
      margin: 50px auto auto;
      transition: all 4s ease-in-out;
      text-align: center;

      .form-control {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        color: #fff;
        font-size: 18px;
      }

      input {
        height: 45px;
      }

      .submit {
        background: #ff5722;
        border-color: transparent;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 2px;
        height: 30px;
        margin-top: 20px;
        width: 50%;

        &:hover {
          background-color: #f44336;
          cursor: pointer;
        }
      }
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;

    &:hover,
    :focus {
      color: #bbb;
      text-decoration: none;
    }
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
}

#dummyframe {
  display: none;
}
